header{
    height: auto;
    background-color: rgb(94, 181, 225);
    margin: 1em;
}

.tittexto{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(2, 0, 0);
    text-align: center;
    font-size: 30px;

}

.encabezados{
    text-align: center;
    background: rgb(83, 174, 235);
    margin: auto;
}

body{
    background-color: rgb(48, 0, 241);
    height: auto;
}
footer{
    background-color: rgb(255, 16, 16);
    height: 2%;
    margin: auto;
    
    
}

.respuestas{
    background-color: rgb(59, 232, 232);
}

section{
    flex: 70px;
    background-color: rgb(73, 135, 182);
    padding: 20px;
    margin: 1em;
}

aside{
    flex: 30px;
    background-color: rgb(151, 76, 14);
    padding: 20px;
    margin: 1em;

}

#resarreglo{
    float: left;
    height: 70%;
    width: 61%;
}


#botones{
    height: 70%;
    width: 3;
    float: right;

}